[defaults]

# Disable host key checking by the underlying tools Ansible uses to connect to target hosts
host_key_checking = False

# Only gather Ansible facts if explicitly directed to in a given play
gathering = explicit

# Disable the creation of .retry files if a playbook fails
retry_files_enabled = False

# Path(s) to search for installed Ansible Galaxy Collections
collections_path = ~/.ansible/collections

# Enable additional Jinja2 Extensions
jinja2_extensions = jinja2.ext.loopcontrols,jinja2.ext.do,jinja2.ext.i18n

# Enable the YAML callback plugin
result_format = yaml

# Permit the use of callback plugins when running ad-hoc commands
bin_ansible_callbacks = True

# List of enabled callbacks
callbacks_enabled = profile_roles, profile_tasks, timer

# Maximum number of forks
forks = 15

# Disable cowsay
nocows = True

# Disable deprecation warnings
deprecation_warnings = False

# Enable global vars plugin
vars_plugins_enabled = arista.avd.global_vars, host_group_vars

# Define global vars path — points to the DIRECTORY containing global_dc_vars.yml
[vars_global_vars]
paths = global_vars

[paramiko_connection]
host_key_auto_add = True

[persistent_connection]
command_timeout = 60
connect_timeout = 60
